<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>组件地址</title>
	<link rel="stylesheet/less" type="text/css" href="styles.less" />
</head>
<body>
	<h2>less</h2>
	<p>地址：http://lesscss.org/</p>
	<div class="description">
		<p>
			安装生成：<br/>
			npm install -g less  <br/>
            > lessc styles.less styles.css 
		</p>
		<p>使用
            Or the browser:<br/>
			<link rel="stylesheet/less" type="text/css" href="styles.less" /><br/>
			<script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.0/less.min.js" ></script>
		</p>

	</div>
	<!-- less.js -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/3.7.0/less.min.js" ></script>

</body>
</html>